/* _________________________________BURGER_________________________________*/
.burger {
  &__container {
    visibility: hidden;
    opacity: 0;
    padding: 18px 16px 32px 16px;
    position: fixed;
    transform: translateX(-100%);
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    background-color: $color-modal;
    overflow: auto;
    z-index: 100;
    transition: 0.5s;

    @media (min-width: 360px) {
      padding: 18px 24px 32px 24px;
      min-width: 360px;
    }

    @media (min-width: 768px) {
      min-width: 320px;
      row-gap: 46px;
    }

    @media (min-width: 1440px) {
      padding: 30px 30px 32px 24px;
      visibility: visible;
      opacity: 1;
      z-index: 1;
      position: relative;
      row-gap: 36px;
      min-height: 890px;
      transform: translateX(0);
    }
  }

  &__container--active {
    visibility: visible;
    opacity: 1;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
    transform: translateX(0);
  }

  &__burger-footer {
    margin-top: auto;
  }
}

.burger-header {
  display: flex;
  align-items: center;
  column-gap: 17px;

  &__button--close {
    @media (min-width: 1440px) {
      display: none;
    }
  }

  &__button--search {
    margin-left: auto;
  }
}

.burger-menu {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (min-width: 768px) {
      row-gap: 32px;
    }

    @media (min-width: 1440px) {
      row-gap: 28px;
    }
  }

  &__link {
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: 0.3s;

    &:hover {
      color: $text-color--muted;
      transition: color 0.2s;
    }
  }

  &__link--active {
    color: $text-color--muted;
  }

  &__item {
    position: relative;

    &:hover::before {
      content: '';
      width: 8px;
      height: 32px;
      background-color: $color-indicator;
      border-radius: 5px;
      position: absolute;
      top: -4px;
      left: -20px;

      @media (min-width: 360px) {
        left: -28px;
      }
    }
  }

  &__item--active::before {
    content: '';
    width: 8px;
    height: 32px;
    background-color: $color-indicator;
    border-radius: 5px;
    position: absolute;
    top: -4px;
    left: -20px;

    @media (min-width: 360px) {
      left: -28px;
    }
  }
}

.burger-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: 1440px) {
    margin-top: 204px;
  }

  &__btn-container {
    margin-bottom: 16px;
    display: flex;
    column-gap: 16px;
  }

  &__mail {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      transition: 0.3s;
    }
  }

  &__phone {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
      transition: 0.3s;
    }
  }

  &__lang-container {
    display: flex;
    column-gap: 7px;
  }

  &__btn-lang {
    cursor: pointer;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;

    &:hover {
      color: $text-color--muted;
      transition: color 0.2s;
    }
  }

  &__btn-lang--active {
    color: $text-color--muted;
  }
}
