.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -16px;
    width: 4px;
    height: 40px;
    background-color: $color-indicator;
    border-radius: 0 10px 10px 0;

    @media (min-width: 768px) {
      left: -24px;
    }

    @media (min-width: 1120px) {
      left: -32px;
    }
  }
}
