@font-face {
  font-family: 'TT Lakes';
  src: url(../assets/fonts/TTLakes-Bold.woff2),
    url(../assets/fonts/TTLakes-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(../assets/fonts/TTLakes-Medium.woff2),
    url(../assets/fonts/TTLakes-Medium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(../assets/fonts/TTLakes-Regular.woff2),
    url(../assets/fonts/TTLakes-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
