$font-family: 'TT Lakes', 'Arial', sans-serif;

$color-body: #f8f8f8;
$color-modal: #ffffff;
$color-link: #ffffff;
$color-header: #ffffff;
$color-item: #ffffff;
$color-divider: #eaeaea;
$color-button--active: #f24a2d;
$color-indicator: #41f6d7;
$color-button: #ff3e79;
$color-bullet--active: #8a8a8a;

$text-color: #1b1c21;
$text-color--muted: #7e7e82;
$text-color--selection: #ff3e79;
$text-color--button: #ffffff;

$border-item: #eaeaea;
$border-link--active: #b8ffec;
$border-section: #d9fff5;
$border-input: #eaeaea;
$border-input--hover: #ff3e79;
$border-input--focus: #009678;
